## Ignorar ajustes de vscode
.vscode

## Ignorar los archivos generados por la compilación de LaTex en la Documentacion
Documentacion/latexmain.aux
Documentacion/latexmain.bbl
Documentacion/latexmain.bcf
Documentacion/latexmain.blg
Documentacion/latexmain.log
Documentacion/latexmain.out
Documentacion/latexmain.run.xml
Documentacion/latexmain.toc