{% load static %}
<!DOCTYPE html>

<head>
  <!-- Documento de estils CSS en la carpeta statc del proyecto -->
  <link rel="stylesheet" href="{% static 'css/navbar/navbar.css'%}">
</head>
<html lang="es">

<body>
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"> PUMA NOTAS </a>      
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
           <!-- Botón para ir a la pagina principal -->
          <li class="nav-item">
            <a href="{% url 'index' %}" class="btn btn-primary"> Inicio </a>
          </li>          
          <li class="nav-item">
            <!-- Botón para ir al formulario de registro -->
            <a href="{% url 'registro' %}" class="btn btn-primary"> Registrarse </a>
          </li>
          <li class="nav-item">
            <!-- Botón para ir al formulario de login -->
            <a href="{% url 'login' %}" class="btn btn-primary"> Ingresar </a>            
          </li>
        </ul>
      </div>

    </div>
  </nav>
</body>

</html>