.navbar {
  background-color: #011426; /* Fondo más oscuro */
  top: 0;
  width: 100%; 
  max-width: 1350px;
  height: 65px;
  font-size: 22px; /* Tamaño de fuente */
}

.navbar-nav .nav-link {
  color: #ffffff;
  /* Texto blanco */
}

.navbar-nav .nav-link.active {
  color: #f16d0f;
}

.navbar-brand,
.nav-link {
  color: white;
}

.nav-item {
  color: white;
}

/* 
  Ponemos la jerarquia del contenedor que contiene la imagen del logo  
  */
.Logo {
  max-width: 58%;
  /* La imagen se ajuste al ancho del navbar-brand */
  height: auto;
  /* Ajusta automáticamente la altura */
}

.navbar-toggler {
  background-color: #E0E0E0;
}

/*
  * Tamaño del icono del menú
  */
.user-dropdown,
.cart-icon {
  font-size: 25px;
  color: white;
  display: inline-block;
  margin-right: 25px;
  /* Agrega una separación de 10px entre los elementos */
}

.user-dropdown:hover {
  color: orange;
}

.cart-icon:hover {
  color: orange;
}

