<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Nota</title>
</head>
<body>
    <form method="POST">
        {% csrf_token %}
        {% if error %}
            <h2>{{ error }}</h2>
        {% endif %}
        <label for="id_titulo">Titulo</label>
    <input type="text" id="id_titulo" name="titulo" value="{{ nota_form.instance.titulo }}">
    <label for="id_contenido">Contenido</label>
    <input type="text" id="id_contenido" name="contenido" value="{{ nota_form.instance.contenido }}">
    <button type="submit">Guardar cambios</button>
        
    </form>
</body>
</html> 