{% extends "index.html" %}

{% block titulo %} Notas {% endblock %} 

    {% block home %} 
    
    {% endblock %}

{% block contenido %} 
    
    <h1>Esta es la pagina de las notas</h1>
    {% if notas %}
    <table>
        <thead>
            <tr>
                <th> # </th>
                <th> Titulo </th>
                <th> Contenido </th>
                <th> Opciones </th>
            </tr>
        </thead>
        <tbody>
            {% for nota in notas %}
            <tr>
                <td> {{nota.id}} </td>
                <td> {{nota.titulo}} </td>
                <td> {{nota.contenido}} </td>
                <td>
                     <a href="{% url 'tablero:editar_nota' nota.id %}"> EDITAR </a> 
                     <a href="{% url 'tablero:eliminar_nota' nota.id %}"> ELIMINAR </a> 
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
        <p> no hay registros </p>
    {% endif %}


{% endblock %}