.card-red { background-color: #EA9E19; }
.card-green { background-color: #54ea19; }
.card-blue { background-color: #19b6ea; }

/* General navbar */
.navbar {
  background-color: #C29C5F; 
  top: 0;
  width: 100%; 
  max-width: 1250px;
  height: 70px;
  font-size: 22px; 
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

/* TITULO DEL LOGO */
.navbar-brand{
  color: white;
}
.navbar-brand:hover{
  color: white;
}


.nav-item{  
  /* Botones más separados */
  margin-left: 15px;
  border-radius: 5px;
  background-color: #82BDF5;  
}

.nav-item a {
  color: #ffffff; /* Color blanco */
}


.nav-item:hover{
  background-color: #2e4458; 
  color: white;
}

/* Color para cuando el mouse pasa por el btn */
.btn:hover {
  background-color: rgb(0, 255, 221);
}

/* ESTE ES EL COLOR DEL BOTÓN 
   CUANDO LA PAGINA SE HACE MUY PEQUEÑA */
.navbar-toggler {
  background-color: #E0E0E0;
} 


body.body {
  justify-content: center;
  max-width: 1250px;
  /* Ancho maximo */
  margin: auto;
  /* Magen automatico */
  min-height: 100vh;
  /* Altura mínima de la ventana gráfica 022e6b */
  background-color: #ffffff ; 
  /* Fondo blanco */
  color: #000000;
  /* Texto gris oscuro */
  padding-bottom: 80px;
  overflow-x: hidden;
  min-height: 100vh;
  min-width: 100vh;
}


.main-content {
  height: 20vh; 
  background-image: url('https://cdn.glitch.global/91ae3d40-32a1-4ba3-90a8-0e817f46baf3/notes.jpg?v=1713532488708');
  background-size: cover;   
  background-color: rgba(255, 255, 255, 0.8);
  background-position: center; 
  color: white; 
  padding: 100px;
  margin-top: 0px;     
}


.img-fluid{
  width: 150px;
  height: auto;  
}

.titulo{
    text-align: center;
    margin-top: -10px;     
}


.services{
  margin-top: 40px;
  color:#000000;  
}


/* Contenedor principal del footer */

/* Estilos para el footer 232D3E */
footer.sticky-footer {
  background-color: #C29C5F ; /* Fondo más oscuro */
  color: #ffffff;
  height: 65px;
  /* Ancho maximo */  
  position: fixed; /* Fija la posición del footer */
  bottom: 0; /* Lo coloca al final de la ventana del navegador */
  width: 100%; /* Ancho completo del footer */
  max-width: 1250px; /* Ancho máximo específico */
  left: 50%; /* Centra el footer horizontalmente */
  transform: translateX(-50%); /* Ajusta la posición horizontal*/    
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

/* Estilo para el texto dentro del footer */
footer.sticky-footer .copyright span {
  font-size: 18px; /* Tamaño de fuente */
  font-weight: 500; /* Grosor de fuente */
}