/* General navbar */
.navbar {
  background-color: #011426; 
  top: 0;
  width: 100%; 
  max-width: 1350px;
  height: 65px;
  font-size: 22px; 
}

/* TITULO DEL LOGO */
.navbar-brand{
  color: white;
}
.navbar-brand:hover{
  color: white;
}

/* Botones más separados */
.navbar-nav .nav-item {
  color: white;
  margin-left: 15px;
}

/* Color para cuando el mouse pasa por el btn */
.btn:hover {
  background-color: orange;
}

/* ESTE ES EL COLOR DEL BOTÓN 
   CUANDO LA PAGINA SE HACE MUY PEQUEÑA */
.navbar-toggler {
  background-color: #E0E0E0;
} 